@using TD.Common.Kendo.Mvc5.Grid

@model string

@(Html.Kendo().Grid<TD.CTS.Data.Entities.TrialProcedure>()
    .Name("ProceduresGrid")
    .Selectable(select => select.Type(GridSelectionType.Cell))
    .Editable()
    .Columns(columns =>
    {
        columns.CrudCommands().Width(80)
            .HeaderHtmlAttributes(new { style = "min-width:60px;vertical-align:bottom;text-align:right;" })
            .HtmlAttributes(new { @class = "k-group-cell" });
        columns.ForeignKey(e => e.ProcedureCode, (System.Collections.IEnumerable)ViewBag.Procedures, "Code", "Name")
            .Width(400)
            .Filterable(false)
            .HeaderTemplate(@"<div style=""text-align:right;width:200px;""><a class='k-button k-button-icontext k-grid-addcolumn td-grid-button' title='Добавить визит' href='javascript: void(0)'><span class='k-icon k-add td-grid-button-image'></span></a></div><div style=""text-align:right;width:200px;"">Визиты</div><div>Процедуры</div>")
            .HtmlAttributes(new { @class = "k-group-cell" });

        var visits = (IEnumerable<TD.CTS.Data.Entities.TrialVisit>)ViewBag.Visits;
        foreach (var visit in visits)
        {
            columns.Template(e => { })
                .ClientTemplate("#= SelectedVisit(" + visit.Id + ", data) #")
                .HeaderTemplate(string.Format(@"<div style='text-align:center;'><a class='k-button k-button-icontext td-grid-editcolumn td-grid-button' href='javascript: void(0)' title='Изменить визит'><span class='k-icon k-edit td-grid-button-image'></span></a>
<a class='k-button k-button-icontext td-grid-deletecolumn td-grid-button' href='javascript: void(0)' title='Удалить визит'><span class='k-icon k-delete td-grid-button-image'></span></a><input type='hidden' value='{3}'/></div>
<div style=""text-align:center;"">{0}</div><div style=""text-align:center;"">{1}&plusmn;{2}</div>", visit.Name, visit.Days, visit.Punctuality, visit.Id))
                .HtmlAttributes(new { style = "text-align:center;" })
                .Width(100);

        }
        columns.Template(e => { }).ClientTemplate(" ").Width("100%").HtmlAttributes(new { @class = "k-group-cell" });

    })
    .DataSource(dataSource => dataSource
       .Ajax()
       .Model(model =>
       {
           model.Id(e => e.Id);
           model.Field(e => e.ProcedureCode).Editable(false);
           model.Field(e => e.TrialCode).DefaultValue(Model);
           model.Field(e => e.VisitIds).DefaultValue(new List<int>());
       })
       .Read(read => read.Action("GetTrialProcedures", "Trials", new { TrialCode = Model }))
       .Create(create => create.Action("AddTrialProcedure", "Trials"))
       .Update(update => update.Action("UpdateTrialProcedure", "Trials"))
       .Destroy(destroy => destroy.Action("DeleteTrialProcedure", "Trials"))
       .Events(events => events
           .Error("kendo_grid_error_handler").RequestEnd("RequestEnd"))
    )
    .Events(events => events
        .Edit("OnProcedureEdit")
        .Change("OnChange")
        .Save("OnProcedureSave")
        .Cancel("OnProcedureCancel"))
)

<div id="VisitMaterials" style="display:none;">
    <h4>Материалы</h4>
    @(Html.Kendo().Grid<TD.CTS.Data.Entities.TrialVisitMaterial>()
        .Name("VisitMaterialsGrid")
        .Editable()
        .AutoBind(false)
        .Scrollable()
        .Columns(columns =>
        {
            columns.CrudCommands().Width(80).HeaderHtmlAttributes(new { style = "text-align:right;" });
            columns.Bound(e => e.TrialMaterialId)
                .ClientTemplate("#= MaterialName #")
                .EditorTemplateName("VisitMaterialEditor")
                .Width(250).Title("Наименование материала");

            columns.Bound(e => e.Quantity).Width(120).Title("Количество");
            columns.Template(e => { }).ClientTemplate(" ").Width("100%");
        })
        .DataSource(dataSource => dataSource
           .Ajax()
           .Model(model =>
           {
               model.Id(e => e.Id);
               model.Field(e => e.Quantity).DefaultValue(1);
           })
           .Read(read => read.Action("GetTrialVisitMaterials", "Trials").Data("VisitMaterialsData"))
           .Create(create => create.Action("AddTrialVisitMaterial", "Trials"))
           .Update(update => update.Action("UpdateTrialVisitMaterial", "Trials"))
           .Destroy(destroy => destroy.Action("DeleteTrialVisitMaterial", "Trials"))
           .Events(events => events.Error("kendo_grid_error_handler"))
        )
        .Events(events => events.Edit("kendo_grid_onrowedit").Save("OnVisitMaterialsSave"))
    )
</div>

@(Html.Kendo().Window()
    .Name("VisitEdit")
    .Modal(true)
    .Draggable(true)
    .Title("Визит")
    .HtmlAttributes(new { @class = "k-popup-edit-form" })
    .Visible(false)
    .Events(events => events.Refresh("OpenVisitEdit"))
)

<script>
    kendo_grid_init($("#ProceduresGrid"));
    var procGrid = $("#ProceduresGrid");

    procGrid.on("click", ".k-grid-add.td-grid-button", function () {
        ClearSelection();
        kendo_grid_createrow(procGrid);
        isProcedureEdit = true;
    });

    procGrid.on("click", ".k-grid-addcolumn.td-grid-button", function () {
        ClearSelection();
        LoadVisitEdit();
    });

    procGrid.on("click", ".td-grid-editcolumn.td-grid-button", function () {
        ClearSelection();
        var id = $(this).parent().find("input").val();
        LoadVisitEdit(id);
    });

    procGrid.on("click", ".td-grid-deletecolumn.td-grid-button", function () {
        ClearSelection();
        var id = $(this).parent().find("input").val();
        DeleteVisit(id);
    });

    kendo_grid_init($("#VisitMaterialsGrid"));
    var materialsGrid = $("#VisitMaterialsGrid");
    $("#VisitMaterialsGrid .k-grid-add.td-grid-button").click(function () {
        kendo_grid_createrow(materialsGrid);
    });

    procGrid.on("change", ".td-visit-checkbox", function () {
        if ($(this).is(":checked")) {
            $("#VisitMaterials").show();
        } else {
            $("#VisitMaterials").hide();
        }
    });

</script>