@using TD.Common.Kendo.Mvc5.Grid
@using TD.CTS.Data.Entities

@model Schedule
@(Html.Kendo().TabStrip()
        .Name("ProcedureEmployeesEditorStrip")
    //.Events(events => events.Show("ShowTab"))
    .Animation(false)
    .Items(visittabs =>
    {
        visittabs.Add()
            //.Text("Краткая информация")
            .Selected(true)
            .Content(@<text>
                          @(Html.Kendo().Grid<ProcedureEmployee>().Init("ProcedureEmployeesEditorGrid")
                                .Columns(columns =>
                                {
                                    //columns.Template(e => { }).ClientTemplate(@"<a class=""k-button k-button-icon k-grid-edit"" href=""\#"" title=""Изменить""><span class=""k-icon k-edit""></span></a>");
                                    columns.Command(e => e.Edit()).Width(100);
                                    //columns.Bound(e => e.ProcedureCode).Title("Код процедуры");
                                    columns.ForeignKey(e => e.SystemRoleCode, (System.Collections.IEnumerable)ViewBag.SystemRoles, "Code", "Name").Width(100).Title("Роль");
                                    columns.ForeignKey(e => e.ExecutorLogin, (System.Collections.IEnumerable) ViewBag.Users, "Login", "FullName").Width(100).Title("Исполнитель");

                                })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                       model.Id(e => e.ScheduleID);
                                       model.Field(e => e.SystemRoleCode).Editable(false);
                                       model.Field(e => e.ExecutorLogin).Editable(true);
                                    })
                                    .Read(read => read.Action("GetProcedureEmployees", "Schedules", new {ScheduleID = Model.Id, TrialCenterID = Model.TrialCenterID, TrialVersionNo = Model.TrialVersionNo}))
                                    .Update(update => update.Action("UpdateProcedureEmployee", "Schedules", new {ScheduleID = Model.Id, TrialCenterID = Model.TrialCenterID, TrialVersionNo = Model.TrialVersionNo}))
                                    .Events(events => events.Error("kendo_grid_error_handler") /*.RequestEnd("RequestEnd")*/)
                                    )
   
                                )
                      </text>);
    }
    )
    )
<script>



    //kendo_grid_init($("#ProcedureEmployeesEditorGrid"));

    

</script>